%section.resume-section.p-3.p-lg-5.d-flex.flex-column
  %h2 Contact

  FacebookかTwitterでメッセージください。

  %br
  %br

  %ul.list-inline.list-social-icons.mb-0
    %li.list-inline-item
      %a{:href => "https://www.facebook.com/acappella.264", target: "_blank"}
        %span.fa-stack.fa-lg
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-facebook.fa-stack-1x.fa-inverse
    %li.list-inline-item
      %a{:href => "https://twitter.com/264acappella", target: "_blank"}
        %span.fa-stack.fa-lg
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-twitter.fa-stack-1x.fa-inverse
