ようこそ。アカペラグループ「２６４」です。
<br>
<br>
<div class="row-fluid">
    <div class="span3">
        <%= image_tag "001.jpeg", class: "img-circle" %>
    </div>
    <div class="span9">
        <br>
        ◆ Facebook<br>
        <%= link_to "https://www.facebook.com/acappella.264", "https://www.facebook.com/acappella.264", :target=>["_blank"] %><br>
        <br>
        ◆ Twitter<br>
        <%= link_to "@264acappella", "https://twitter.com/264acappella", :target=>["_blank"] %><br>
        <br>
        ◆ mixi<br>
        <%= link_to "http://mixi.jp/view_community.pl?from=home_joined_community&id=5809158", "http://mixi.jp/view_community.pl?from=home_joined_community&id=5809158", :target=>["_blank"] %>
    </div>
</div>
